

body{background-color: #FFFAFA;
     position: relative; 
}

header{
}

.container{
	width: 80%;
	text-align: center;
	margin-left: 30%;
}

@media only screen and (max-width: 800px){
	.container{
		margin-left: 0;
	}
}

#mainNav{
	padding: 0px;
}

.bg-secundario{
	background-color: #FFFFFF!important;
}


.titulo{
	font-size: 3rem;
	font-family: 'Black Ops One', cursive; 
	margin:0;   
}

@media only screen and (max-width: 600px){
	.titulo{
		font-size: 1.5rem;
		font-family: 'Black Ops One', cursive; 
		margin:0;
	}
}

.titulo_1 p{
	font-size: 600%; 
	font-family: 'Black Ops One', cursive; 
	margin:0;
}

@media only screen and (max-width: 600px){
    .titulo_1 p{
		font-size: 300%; 
		font-family: 'Black Ops One', cursive; 
		margin:0;
	}	
}

.titulo_2 p{
	font-size: 360%; 
	font-family: 'Cinzel', serif;
	margin:0;
}


@media only screen and (max-width: 600px){
	.titulo_2 p{
		font-size: 160%; 
		font-family: 'Cinzel', serif;
		margin:0;
	}
		
}

.titulo_pagina{
	margin-top: 8%;
}

@media only screen and (max-width: 600px){
	.titulo_pagina{
		margin-top: 18%;
	}		
}

.navbar.container{
	align-items: center;
}

.imagem_principal{
	margin-top: 6%;
}

@media only screen and (max-width: 500px){
	.imagem_principal{
		margin-top: 20%;
	}
}

.painel-1-1{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

.painel-1-1-sobre{
	width: 350px;
}

.painel_inicial_1{ 
	width: 20%;                               
}

.painel_inicial_1 img{ 
    border-width: medium;
    border-style: solid;
    border-color: black;	                                               
}


.painel_inicial_2{ 
	width: 70%;               
}

#rodape{	
	background-color: #FFFFFF;
	color:#000000;	
	margin-top:10px;
	padding: 5px;
}

#rodape a{
	color:#000000;	
	flex-direction: column;
	display: flex;
	margin:5px;
}

#item-portifolio{
	margin-top:50px;
}

.panel {
    position: absolute;
    z-index: 9999;
    left: -15.625em; /*or width of your navigation panel*/
    width: 15.625em; /*should match the above value*/

}


.wrap {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

@media only screen and (max-width: 600px){
	.wrap {
		position: relative;
		max-width: 70%;
		margin: 0px;
		padding: 0px;
	}
}

.panel {
    background: #CD6889;
    margin-top: 0px;
    padding-left: 0px;
}

.panel a {
    color: #fff;
}

.panel ul{
	display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 5px;
}
.panel ul li{
	list-style-type: none;
	border-bottom: 1px solid #EED5B7;
	padding: 10px;
	margin-left: 0px;

}

.panel ul  a{
	font-family: 'Cinzel', serif;
	font-size: 15px;
	text-decoration: none;
	color: white;
}

.panel ul li:hover{
	font-weight: bold;
	background: #FF82AB;
	text-shadow: 1px 1px 0 #FF34B3;
	cursor: pointer;	
}

.texto_1{
	width: 65%;
	font-family: 'Cinzel', serif;
    font-size: 20px;

}

.texto_1 p{
	align-items: center;
}

@media only screen and (max-width: 600px){
	#texto_2 {
		margin-left: 5%;
		margin-right: 10%;
	}	
}

#texto_2 p{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

#texto_2 img{
	width: 80%;
}

@media only screen and (max-width: 600px){
	#texto_2 img{
		width: 50%;
	}
}


.form{
	margin-top:110px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.inicio{
	display: flex;
	align-items: center;
	margin-top:20px;
	margin-bottom: 0px;
	margin-left: 20%;
	width: 70%;
}

.painel_inicio{
	margin: 10%;
}

#box_sobre{
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 2%;
}

.noticias{
	margin-left: 10%;
	margin-right: 10%;
}

.noticias h1{
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0px;
}


.noticias hr{
	  margin: 0px;
	  height: 4px;
	  background: #CD6889;
}

.noticias_1{
	margin-right: 10%;
	margin-left: 10%;
}

.painel_profissoes{
	margin-right: 10%;
	margin-left: 10%;
}

.card-body a{
	background: #CD6889;
	border-color: #CD6889;
	margin-left: 25%;
	align-items: justify;
}

.card-img-top{
	border-width: 3px;
    border-style: solid;
    border-color: black;
}

.card-img-top1{
	width: 70%;
	align-items: center;
}

.card-text{
	font-size: 18px;
	text-align: justify;
	font-family: 'Montserrat', sans-serif;
}

.painel_inicial_2 p{
	font-family: 'Montserrat', sans-serif;
}

.cartao {
    height: 200px;
    width: 200px;
    perspective: 1000px;
    margin-left: 10%; 
}

.cartao-container {
    position: relative;
    height: 100%;
    transition: transform .4s;
    transform-style: preserve-3d;
}

.cartao:hover .cartao-container {
    transform: rotateY(180deg);
}

.cartao-front, .cartao-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    z-index: 1;
}

.cartao-front {
    background:  #CD6889 ;
}

.cartao-back {
    transform: rotateY(180deg);
    background:  #CD6889;
}

/* Janela Modal */


img{
	border-radius:10px;
	cursor:pointer;
}

.modalVisual{
	display:none;
	position:fixed;
	z-index:1;
	padding-top:100px;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgba(0,0,0,0.8);
}

.modalConteudo{
	margin:auto;
	display:block;
	width:100%;
	max-width:800px;
}

#txtImg{
	margin:auto;
	display:block;
	width:80%;
	max-width:700px;
	text-align:center;
	color:#ccc;
	padding:10px 0;
	height:150px;
}

.fechar{
	position:absolute;
	top:100px;
	right:35px;
	color:#fff;
	font-size:40px;
	font-weight:bold;
	cursor:pointer;
}

/*  Fim Janela Modal */


.config_janelamodal{
	margin-left: 10%;
	margin-right: 10%;
}

#tituloimg{
	margin-left: 10%;
	margin-right: 10%;

}

.config_texto{
	align-items: justify;
	margin-left: 16%;
	margin-right: 16%;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

@media only screen and (max-width: 600px){
	.config_texto{
		align-items: justify;
		margin-left: 10%;
		margin-right: 10%;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
	}
}

.avatar img{
	width: 60%;
}

@media only screen and (max-width: 600px){
	.avatar img{
		width: 40%;
	}
}

.imagem_pdm img{
	width:43%;
}

@media only screen and (max-width: 600px){
	.imagem_pdm img{
		width: 80%;
	}
}

#texto_2 h2{
	color: #CD6889;
}

.container-fluid{
	padding-right: 5px;
    padding-left: 5px;
}

@media only screen and (max-width: 600px){
	#texto_3 {
		margin-left: 5%;
		margin-right: 10%;
	}	
}

#texto_3 p{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

#texto_3 img{
	width: 80%;
}

@media only screen and (max-width: 600px){
	#texto_3 img{
		width: 80%;
	}
}

#texto_4 img{
	border: #000000 2px solid;
}